pretrained_ckpt: /TO/Your/Path/G0Plus_260202
use_pretrained_norm_stats: True

# strategy
model_weights_to_bf16: False
enable_bf16_training: True
use_torch_compile: False
find_unused_parameters: False

# dataloader
batch_size: 4
num_workers: 4
pin_memory: True
persistent_workers: True

# training period
max_epochs: 4
max_steps: null
grad_accumulation_steps: 1

# optimizer
use_8bit_optimizer: False # AdamW8bit or AdamW
learning_rate: 2.5e-5
weight_decay: 1e-2
betas: [0.9, 0.95]

# LR scheduler
lr_scheduler_type: "cosine" # LambdaLR, following openpi
warmup_steps: 1000

max_grad_norm: 1.0

# EMA
use_ema: False
ema: 
  update_after_step: 0 # Step after which to update EMA weights
  power: 0.67

# sync batch normalization
use_sync_bn: False


tokenizer:
  _target_: galaxea_fm.models.galaxea_zero.paligemma.tokenizer.PaliGemmaTokenizer
  tokenizer_params:
    pretrained_model_name_or_path: google/paligemma-3b-pt-224
    local_files_only: False
    token: null
  pad_token_id: ${model.model_arch.pad_token_id}
  image_token_index: ${model.model_arch.image_token_index}
  max_text_tokens: ${model.model_arch.max_text_tokens}
  num_tokens_per_image: ${model.model_arch.vision.num_image_tokens}
  num_input_images: ${model.model_arch.num_input_images}


model_arch:
  _target_: galaxea_fm.models.galaxea_zero.galaxea_zero_policy.GalaxeaZeroPolicy
  model_name: galaxea_fm.models.galaxea_zero.galaxea_zero_policy.GalaxeaZero
  pretrained_model_path: /To/Your/Path/google/paligemma-3b-pt-224

  vla_training_strategy: "vla-full-train" # training both vision and language
  backbone_lr_multiplier: 1.0
  image_token_index: 257152
  pad_token_id: 0
  vocab_size: 257216
  fill_padded_with_token: False
  embed_token_key_prefix: language_model.model.embed_tokens

  cond_steps: ${data.dataset.obs_size}
  horizon_steps: ${data.dataset.action_size}
  max_text_tokens: 55
  num_input_images: ${eval:'${model.model_arch.cond_steps} * ${data.processor.num_output_cameras}'} # $data.window_size * LEN($data.camera_views)
  max_image_text_tokens: ${eval:'${model.model_arch.num_input_images} * ${model.model_arch.vision.num_image_tokens} + ${model.model_arch.max_text_tokens}'}
  final_action_clip_value: null  # data normalized in [-1,1]

  action_dim: ${data.processor.action_output_dim}
  proprio_dim: ${data.processor.proprio_output_dim}
  action_decoder_layers: 2
  action_expert_adaptive_mode: null

  flow_sampling: beta
  num_inference_steps: 10

  vision:
    name: galaxea_fm.models.galaxea_zero.paligemma.siglip.SiglipVisionModel
    key_prefix: vision_tower
    hidden_size: 1152 # siglip
    intermediate_size: 4304
    num_hidden_layers: 27
    num_attention_heads: 16
    num_channels: 3
    image_size: 224
    patch_size: 14
    layer_norm_eps: 0.000001
    attention_dropout: 0.0
    num_image_tokens: 256
  
  vision_projector:
    name: galaxea_fm.models.galaxea_zero.paligemma.siglip.PaliGemmaMultiModalProjector
    key_prefix: multi_modal_projector
    vision_config:
      hidden_size: 1152
      projection_dim: 2048
    
  joint:
    name: galaxea_fm.models.galaxea_zero.joint_model.JointModel
    key_prefix: language_model.model
    action_expert_adaptive_mode: null
    module_names:
      mlp: galaxea_fm.models.galaxea_zero.paligemma.modules.GemmaMLP
      norm: galaxea_fm.models.galaxea_zero.paligemma.modules.GemmaRMSNorm
      rope: galaxea_fm.models.galaxea_zero.paligemma.modules.GemmaRotaryEmbedding
    
    mixture:
      vlm:   # gemma
        hidden_size: 2048
        intermediate_size: 16384
        use_final_norm: False
        cache: True
      proprio:
        hidden_size: 1024
        intermediate_size: 4096
        use_final_norm: True  # technically no, but sharing weights with action anyway
        cache: True
        adaptive_mode: null
      action:
        hidden_size: 1024
        intermediate_size: 4096
        use_final_norm: True
        cache: False
        adaptive_mode: null

    time_hidden_size: 256 # only applicable if using adaptive
    num_hidden_layers: 18
    num_attention_heads: 8
    num_key_value_heads: 1
    head_dim: 256
    max_position_embeddings: 8192
    rms_norm_eps: 0.000001
    rope_theta: 10000.0
    attention_bias: False
    attention_dropout: 0.0

model_meta:
  norm_default_mode: z-score
  input_image_size: 
    - ${model.model_arch.vision.image_size}
    - ${model.model_arch.vision.image_size}