pretrained_ckpt: /TO/Your/Path/G0Tiny_260120
use_pretrained_norm_stats: True

# strategy
model_weights_to_bf16: False
enable_bf16_training: True
use_torch_compile: False
find_unused_parameters: True # FIXME

# dataloader
batch_size: 16
num_workers: 16
pin_memory: True
persistent_workers: True

# training period
max_epochs: 4
max_steps: null
grad_accumulation_steps: 1

# optimizer
use_8bit_optimizer: False # AdamW8bit or AdamW
learning_rate: 6e-5
weight_decay: 1e-3
betas: [0.9, 0.95]

# LR scheduler
lr_scheduler_type: "cosine" # LambdaLR, following openpi
warmup_steps: 480

max_grad_norm: 1.0

# EMA
use_ema: False
ema: 
  update_after_step: 0 # Step after which to update EMA weights
  power: 0.67

# sync batch normalization
use_sync_bn: False


tokenizer:
  _target_: galaxea_fm.models.galaxea_zero.smolvlm2.tokenizer.SmolVLM2Tokenizer
  tokenizer_params:
    pretrained_model_name_or_path: HuggingFaceTB/SmolVLM2-500M-Video-Instruct
    local_files_only: False
  pad_token_id: ${model.model_arch.pad_token_id}
  image_token_index: ${model.model_arch.image_token_index}
  max_text_tokens: ${model.model_arch.max_text_tokens}
  num_tokens_per_image: ${model.model_arch.vision.num_image_tokens}
  num_input_images: ${model.model_arch.num_input_images}


model_arch:
  _target_: galaxea_fm.models.galaxea_zero.galaxea_zero_policy.GalaxeaZeroPolicy
  model_name: galaxea_fm.models.galaxea_zero.galaxea_zero_policy.GalaxeaZero
  pretrained_model_path: /To/Your/Path/HuggingFaceTB/SmolVLM2-500M-Video-Instruct

  vla_training_strategy: "vla-full-train" # training both vision and language
  backbone_lr_multiplier: 0.1
  image_token_index: 49190
  pad_token_id: 2
  vocab_size: 49280
  fill_padded_with_token: True
  embed_token_key_prefix: model.text_model.embed_tokens

  cond_steps: ${data.dataset.obs_size}
  horizon_steps: ${data.dataset.action_size}
  max_text_tokens: 55 # following g0
  num_input_images: ${eval:'${model.model_arch.cond_steps} * ${data.processor.num_output_cameras}'} # $data.window_size * LEN($data.camera_views)
  max_image_text_tokens: ${eval:'${model.model_arch.num_input_images} * (${model.model_arch.vision.num_image_tokens} + 3) + ${model.model_arch.max_text_tokens}'} # + 3: 1 for <global-img>, 2 for <fake_token_around_image>
  final_action_clip_value: null  # data normalized in [-1,1]

  action_dim: ${data.processor.action_output_dim}
  proprio_dim: ${data.processor.proprio_output_dim}
  action_decoder_layers: 2
  action_expert_adaptive_mode: null

  flow_sampling: beta
  num_inference_steps: 10

  vision:
    name: galaxea_fm.models.galaxea_zero.smolvlm2.smolvlm2_vision.SmolVLMVisionTransformer
    key_prefix: model.vision_model
    hidden_size: 768 # siglip
    intermediate_size: 3072
    num_hidden_layers: 12
    num_attention_heads: 12
    num_channels: 3
    image_size: 512
    patch_size: 16
    layer_norm_eps: 1e-6
    attention_dropout: 0.0
    num_image_tokens: 64

  vision_projector:
    name: galaxea_fm.models.galaxea_zero.smolvlm2.modules.SmolVLMConnector
    key_prefix: model.connector
    vision_config:
      scale_factor: 4
      hidden_size: 768
      projection_dim: ${model.model_arch.joint.mixture.vlm.hidden_size}
      num_input_images: ${model.model_arch.num_input_images}
    text_config:
      hidden_size: ${model.model_arch.joint.mixture.vlm.hidden_size}
    
  joint:
    name: galaxea_fm.models.galaxea_zero.joint_model.JointModel
    key_prefix: model.text_model
    action_expert_adaptive_mode: null
    module_names:
      mlp: galaxea_fm.models.galaxea_zero.smolvlm2.modules.SmolVLMTextMLP
      norm: galaxea_fm.models.galaxea_zero.smolvlm2.modules.SmolVLMTextRMSNorm
      rope: galaxea_fm.models.galaxea_zero.smolvlm2.modules.SmolVLMTextRotaryEmbedding
    
    mixture:
      vlm:
        hidden_size: 960
        intermediate_size: 2560
        use_final_norm: True
        cache: True
      proprio:
        hidden_size: 720
        intermediate_size: 2048
        use_final_norm: True  # technically no, but sharing weights with action anyway
        cache: True
        adaptive_mode: null
      action:
        hidden_size: 720
        intermediate_size: 2048
        use_final_norm: True
        cache: False
        adaptive_mode: null

    time_hidden_size: 256 # only applicable if using adaptive
    num_hidden_layers: 16
    num_attention_heads: 15
    num_key_value_heads: 5
    head_dim: 64
    max_position_embeddings: 8192
    rms_norm_eps: 1.0e-05
    rope_theta: 100000.0
    attention_bias: False
    attention_dropout: 0.0

model_meta:
  norm_default_mode: q01/q99
  input_image_size: 
    - ${model.model_arch.vision.image_size}
    - ${model.model_arch.vision.image_size}